
body {color: calc(1 * 1px ) }

@import '~bootstrap/dist/css/bootstrap.css';
@import '~codemirror/lib/codemirror.css';

.CodeMirror {
    border: 1px solid rgba(0, 0, 0, 0.15);
}

button[type="submit"] {
    margin-top: 1rem;
}

.results:empty::before {
    content: 'No errors';
}

.code, .CodeMirror {
    height: 350px;
}

.expandable-fieldset-content {
    -padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height .2s ease-out 0s;

    &.expanded {
        max-height: 1000px;
    }
}

.expand-fieldset-content {
    display: inline-block;
    color: #0275d8;
    border-bottom: 1px dashed currentColor;
    cursor: pointer;
    width: auto;
    &:hover {
        color: #014c8c;
    }
}
