@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro:400);
.CodeMirror-foldmarker {
    color: blue;
    text-shadow: #b9f 1px 1px 2px, #b9f -1px -1px 2px, #b9f 1px -1px 2px, #b9f -1px 1px 2px;
    font-family: arial;
    line-height: .3;
    cursor: pointer;
}

.CodeMirror-foldgutter {
    width: .7em;
}

.CodeMirror-foldgutter-open,
.CodeMirror-foldgutter-folded {
    cursor: pointer;
}

.CodeMirror-foldgutter-open:after {
    content: "\25BE";
}

.CodeMirror-foldgutter-folded:after {
    content: "\25B8";
}

.CodeMirror-dialog {
    position: absolute;
    left: 0;
    right: 0;
    background: inherit;
    z-index: 15;
    padding: .1em .8em;
    overflow: hidden;
    color: inherit;
}

.CodeMirror-dialog-top {
    border-bottom: 1px solid #e1e1e1;
    top: 0;
}

.CodeMirror-dialog-bottom {
    border-top: 1px solid #e1e1e1;
    bottom: 0;
}

.CodeMirror-dialog input {
    border: none;
    outline: none;
    background: transparent;
    width: 20em;
    color: inherit;
    font-family: 'Anonymous Pro', monospace;
}

.CodeMirror-dialog button {
    font-size: 70%;
}

.CodeMirror-search-match {
    background: gold;
    border-top: 1px solid orange;
    border-bottom: 1px solid orange;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    opacity: .5;
}


/* BASICS */

.CodeMirror {
    /* Set height, width, borders, and global font properties here */
    font-family: 'Anonymous Pro', monospace;
    height: 300px;
    color: black;
}


/* PADDING */

.CodeMirror-lines {
    padding: 4px 0;
    /* Vertical padding around content */
}

.CodeMirror pre {
    padding: 0 4px;
    /* Horizontal padding of content */
}

.CodeMirror-scrollbar-filler,
.CodeMirror-gutter-filler {
    background-color: white;
    /* The little square between H and V scrollbars */
}


/* GUTTER */

.CodeMirror-gutters {
    border-right: 1px solid #ddd;
    background-color: #f7f7f7;
    white-space: nowrap;
}

.CodeMirror-linenumbers {}

.CodeMirror-linenumber {
    padding: 0 3px 0 5px;
    min-width: 20px;
    text-align: right;
    color: #999;
    white-space: nowrap;
}

.CodeMirror-guttermarker {
    color: black;
}

.CodeMirror-guttermarker-subtle {
    color: #999;
}


/* CURSOR */

.CodeMirror-cursor {
    border-left: 1px solid black;
    border-right: none;
    width: 0;
}


/* Shown when moving in bi-directional text */

.CodeMirror div.CodeMirror-secondarycursor {
    border-left: 1px solid silver;
}

.cm-fat-cursor .CodeMirror-cursor {
    width: auto;
    border: 0 !important;
    background: #7e7;
}

.cm-fat-cursor div.CodeMirror-cursors {
    z-index: 1;
}

.cm-animate-fat-cursor {
    width: auto;
    border: 0;
    -webkit-animation: blink 1.06s steps(1) infinite;
    -moz-animation: blink 1.06s steps(1) infinite;
    animation: blink 1.06s steps(1) infinite;
    background-color: #7e7;
}

@-moz-keyframes blink {
    0% {}
    50% {
        background-color: transparent;
    }
    100% {}
}

@-webkit-keyframes blink {
    0% {}
    50% {
        background-color: transparent;
    }
    100% {}
}

@keyframes blink {
    0% {}
    50% {
        background-color: transparent;
    }
    100% {}
}


/* Can style cursor different in overwrite (non-insert) mode */

.CodeMirror-overwrite .CodeMirror-cursor {}

.cm-tab {
    display: inline-block;
    text-decoration: inherit;
}

.CodeMirror-rulers {
    position: absolute;
    left: 0;
    right: 0;
    top: -50px;
    bottom: -20px;
    overflow: hidden;
}

.CodeMirror-ruler {
    border-left: 1px solid #ccc;
    top: 0;
    bottom: 0;
    position: absolute;
}


/* DEFAULT THEME */

.cm-s-default .cm-header {
    color: blue;
}

.cm-s-default .cm-quote {
    color: #090;
}

.cm-negative {
    color: #d44;
}

.cm-positive {
    color: #292;
}

.cm-header,
.cm-strong {
    font-weight: 700;
}

.cm-em {
    font-style: italic;
}

.cm-link {
    text-decoration: underline;
}

.cm-strikethrough {
    text-decoration: line-through;
}

.cm-s-default .cm-keyword {
    color: #708;
}

.cm-s-default .cm-atom {
    color: #219;
}

.cm-s-default .cm-number {
    color: #164;
}

.cm-s-default .cm-def {
    color: #00f;
}

.cm-s-default .cm-variable,
.cm-s-default .cm-punctuation,
.cm-s-default .cm-property,
.cm-s-default .cm-operator {}

.cm-s-default .cm-variable-2 {
    color: #05a;
}

.cm-s-default .cm-variable-3 {
    color: #085;
}

.cm-s-default .cm-comment {
    color: #a50;
}

.cm-s-default .cm-string {
    color: #a11;
}

.cm-s-default .cm-string-2 {
    color: #f50;
}

.cm-s-default .cm-meta {
    color: #555;
}

.cm-s-default .cm-qualifier {
    color: #555;
}

.cm-s-default .cm-builtin {
    color: #30a;
}

.cm-s-default .cm-bracket {
    color: #997;
}

.cm-s-default .cm-tag {
    color: #170;
}

.cm-s-default .cm-attribute {
    color: #00c;
}

.cm-s-default .cm-hr {
    color: #999;
}

.cm-s-default .cm-link {
    color: #00c;
}

.cm-s-default .cm-error {
    color: #f00;
}

.cm-invalidchar {
    color: #f00;
}

.CodeMirror-composing {
    border-bottom: 2px solid;
}


/* Default styles for common addons */

div.CodeMirror span.CodeMirror-matchingbracket {
    color: #0f0;
}

div.CodeMirror span.CodeMirror-nonmatchingbracket {
    color: #f22;
}

.CodeMirror-matchingtag {
    background: rgba(255, 150, 0, .3);
}

.CodeMirror-activeline-background {
    background: #e8f2ff;
}


/* STOP */


/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */

.CodeMirror {
    position: relative;
    overflow: hidden;
    background: white;
}

.CodeMirror-scroll {
    overflow: scroll !important;
    /* Things will break if this is overridden */
    /* 30px is the magic margin used to hide the element's real scrollbars */
    /* See overflow: hidden in .CodeMirror */
    margin-bottom: -30px;
    margin-right: -30px;
    padding-bottom: 30px;
    height: 100%;
    outline: none;
    /* Prevent dragging from highlighting the element */
    position: relative;
}

.CodeMirror-sizer {
    position: relative;
    border-right: 30px solid transparent;
}


/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actual scrolling happens, thus preventing shaking and
   flickering artifacts. */

.CodeMirror-vscrollbar,
.CodeMirror-hscrollbar,
.CodeMirror-scrollbar-filler,
.CodeMirror-gutter-filler {
    position: absolute;
    z-index: 6;
    display: none;
}

.CodeMirror-vscrollbar {
    right: 0;
    top: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.CodeMirror-hscrollbar {
    bottom: 0;
    left: 0;
    overflow-y: hidden;
    overflow-x: scroll;
}

.CodeMirror-scrollbar-filler {
    right: 0;
    bottom: 0;
}

.CodeMirror-gutter-filler {
    left: 0;
    bottom: 0;
}

.CodeMirror-gutters {
    position: absolute;
    left: 0;
    top: 0;
    min-height: 100%;
    z-index: 3;
}

.CodeMirror-gutter {
    white-space: normal;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: -30px;
}

.CodeMirror-gutter-wrapper {
    position: absolute;
    z-index: 4;
    background: none !important;
    border: none !important;
}

.CodeMirror-gutter-background {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 4;
}

.CodeMirror-gutter-elt {
    position: absolute;
    cursor: default;
    z-index: 4;
}

.CodeMirror-gutter-wrapper::selection {
    background-color: transparent
}

.CodeMirror-gutter-wrapper::-moz-selection {
    background-color: transparent
}

.CodeMirror-lines {
    cursor: text;
    min-height: 1px;
    /* prevents collapsing before first draw */
}

.CodeMirror pre {
    /* Reset some styles that the rest of the page might have set */
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border-width: 0;
    background: transparent;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    white-space: pre;
    word-wrap: normal;
    line-height: inherit;
    color: inherit;
    z-index: 2;
    position: relative;
    overflow: visible;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-variant-ligatures: contextual;
    font-variant-ligatures: contextual;
}

.CodeMirror-wrap pre {
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: normal;
}

.CodeMirror-linebackground {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
}

.CodeMirror-linewidget {
    position: relative;
    z-index: 2;
    overflow: auto;
}

.CodeMirror-widget {}

.CodeMirror-rtl pre {
    direction: rtl;
}

.CodeMirror-code {
    outline: none;
}


/* Force content-box sizing for the elements where we expect it */

.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.CodeMirror-measure {
    position: absolute;
    width: 100%;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.CodeMirror-cursor {
    position: absolute;
    pointer-events: none;
}

.CodeMirror-measure pre {
    position: static;
}

div.CodeMirror-cursors {
    visibility: hidden;
    position: relative;
    z-index: 3;
}

div.CodeMirror-dragcursors {
    visibility: visible;
}

.CodeMirror-focused div.CodeMirror-cursors {
    visibility: visible;
}

.CodeMirror-selected {
    background: #d9d9d9;
}

.CodeMirror-focused .CodeMirror-selected {
    background: #d7d4f0;
}

.CodeMirror-crosshair {
    cursor: crosshair;
}

.CodeMirror-line::selection,
.CodeMirror-line > span::selection,
.CodeMirror-line > span > span::selection {
    background: #d7d4f0;
}

.CodeMirror-line::-moz-selection,
.CodeMirror-line > span::-moz-selection,
.CodeMirror-line > span > span::-moz-selection {
    background: #d7d4f0;
}

.cm-searching {
    background: #ffa;
    background: rgba(255, 255, 0, .4);
}


/* Used to force a border model for a node */

.cm-force-border {
    padding-right: .1px;
}

@media print {
    /* Hide the cursor when printing */
    .CodeMirror div.CodeMirror-cursors {
        visibility: hidden;
    }
}


/* See issue #2901 */

.cm-tab-wrap-hack:after {
    content: '';
}


/* Help users use markselection to safely style text background */

span.CodeMirror-selectedtext {
    background: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: top;
}

body {
    font-size: 14px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5em;
    background: #fafbfc;
    color: #333;
    line-height: 26px;
}

pre,
code,
tt {
    font-family: 'andale mono', monotype, 'lucida console', 'Anonymous Pro', monospace;
    line-height: 1.5;
}

strong,
b {
    font-weight: 700;
}

.right {
    float: right
}

.left {
    float: left
}

p {
    font-size: 14px;
}

.info {
    display: block;
    padding: 10px 0 0;
    clear: both;
    width: 100%;
}

.info ul {
    margin: 5px 0;
}

.info li {
    margin: 0 0 0 15px;
    padding: 0;
    font-size: 14px;
}

p.heading {
    margin-top: 20px;
    font-size: 15px;
    font-weight: 700;
    padding-bottom: 0;
}

p code,
li code {
    line-height: 2.1
}

header {
    width: 100%;
    background-color: #fff;
    z-index: 1;
    border-bottom: 1px solid #f0f0f0;
}

nav {
    margin: 0 auto 0;
    padding: 0 15px;
    color: #353535;
    font-size: 13px;
    max-width: 1100px;
}

.dev-tools-logo {
    width: 30px;
    height: 30px;
    padding: 6px 0 0 12px;
    float: left;
    background: #FFCF4B;
    border-radius: 2px;
    text-align: center;
    margin: 5px 0 0 0;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.5px;
}

.logo {
    display: block;
    padding: 6px 15px 0;
    float: left;
}

.logo h1 {
    font-size: 13px;
    font-weight: 700;
    float: left;
    margin: 0;
}

.sub-title,
tagline-title {
    font-weight: 400
}

nav:after {
    content: "";
    display: table;
    clear: both;
}

.toggle,
[id^=drop] {
    display: none;
}

nav ul {
    float: right;
    margin: 0;
    list-style: none;
    position: relative;
    padding: 0;
    z-index: 101;
}

nav ul li {
    margin: 0;
    display: inline-block;
    background-color: #fafafa;
    padding: 7px 0;
    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
}

nav a {
    display: block;
    padding: 0 15px;
    color: #333;
    text-decoration: none;
}

nav ul li ul li:hover {
    background: #f4f4f4;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    border-top: 1px solid #f0f0f0;
}

nav ul li:hover>ul {
    display: inherit;
}

nav ul ul li {
    width: 240px;
    float: none;
    display: list-item;
    position: relative;
    border-bottom: 1px solid #f0f0f0;
    padding: 7px 0;
    line-height: 20px;
}

nav ul ul li.jscompress {
    border-left: 5px solid #F8DC3C;
}

nav ul ul li.json {
    border-left: 5px solid #1E8BC3;
}

nav ul ul li.compare {
    border-left: 5px solid #446CB3;
}

nav ul ul li.dns {
    border-left: 5px solid #26A65B;
}

nav ul ul li.comp {
    border-left: 5px solid #3498DB;
}

nav ul ul li.keygen {
    border-left: 5px solid #EB9532;
}

nav ul ul ul li {
    position: relative;
    top: -60px;
    left: 300px;
}

.tagline-title {
    font-size: 11px
}

li>a:only-child:after {
    content: '';
}

.three-lines {
    position: relative;
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    margin: 7px 10px 0 0;
    border-top: 0.1em solid #333;
    border-bottom: 0.1em solid #333;
}

.three-lines:before {
    content: "";
    position: absolute;
    top: 0.3em;
    left: 0;
    width: 100%;
    border-top: 0.1em solid #333;
}

.hide {
    display: none;
}

.container {
    display: block;
    margin: 0 auto;
    max-width: 1100px;
    padding: 0 15px;
    text-align: left;
}

.ad.top img,
.ad.bottom img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.ad {
    display: block;
    text-align: center;
}

.ad.top {
    margin: 40px 0;
}

.ad.bottom {
    margin: 40px 0;
    border-top: 1px solid #eee;
    padding: 40px 0 0;
}

footer {
    text-align: center;
    max-width: 1100px;
    padding: 15px;
    margin: 0 auto 0;
    border-top: 1px solid #eee;
    font-size: 12px;
    font-weight: 700;
}

main {
    display: block;
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    padding: 1.5em 0;
}

.CodeMirror-gutters {
    /* something gone wrong with gutter after update, setting its min height manually */
    min-height: 400px !important;
}

.CodeMirror-dialog input {
    vertical-align: middle;
}

#code,
.CodeMirror {
    width: 100%;
    height: 380px;
    border: 1px solid #e1e1e1;
    margin-bottom: 1em;
    font-size: 14px;
    border-radius: 2px;
}

button[type="submit"] {
    padding: 10px 15px 11px;
    margin: 0 10px 15px 0;
	background-color: #fff;
    text-decoration: none;
    border: 1px solid #e1e1e1;
    font-size: 14px;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    color: #333;
}

button[type="submit"]:hover {
    background: #f3f3f3;
    border: 1px solid #d1d1d1;
    cursor: pointer;
}

button[type="submit"]:active {}

button[type="reset"] {
    background-color: #f0f0f0;
    padding: 10px 15px;
    text-decoration: none;
    border: 1px solid #ddd;
    font-size: 14px;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    color: #333;
    margin-top: 10px;
	cursor: pointer;
}

button[type="reset"]:hover {
    cursor: pointer;
    background: #ddd;
    border: 1px solid #ccc;
}

button[type="reset"]:active {}

#result-container {
    font-size: 14px;
    padding: 0;
}

#result-container.shown {
    display: block;
}

.result-item {
    font-size: 14px;
    border: 1px solid transparent;
    margin: 15px 0;
    padding: 0.8em;
    white-space: normal;
}

.result-item a {
    white-space: nowrap;
}

.result-item:empty {
    display: none;
}

.result-item.result-error {
    background: #FBE3E4;
    color: #D12F19;
    border-color: #FBC2C4;
}

.result-item.result-warning {
    background: #fbf7e3;
    color: #d19119;
    border-color: #ffdd9d;
}

.result-item.result-success {
    background: #E6EFC2;
    color: #529214;
    border-color: #C6D880;
}

footer {
    padding-bottom: 3.5em !important;
}

.settings {
    padding: 30px 30px 10px;
}

input {
    display: none;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

.settings input {
    display: inline-block;
    height: 27px;
    margin: 0 5px 0 0;
}

.settings legend {
    font-size: 14px;
    font-weight: 700;
    padding: 0 0 10px;
    letter-spacing: 0.5px;
}

.settings label {
    color: #333;
    padding: 0 0 7px;
    width: 24.7%;
    text-align: left;
    font-size: 14px;
    font-family: 'Anonymous Pro', monospace;
}

.settings hr {
    height: 1px;
    color: #333;
    background: #e1e1e1;
    font-size: 0;
    border: 0;
    margin: 15px 0;
}

.form-group {
    width: 100%;
    margin: 0 0 15px;
}

.form-group label {
    width: 100%;
    padding: 0 0 2px;
    cursor: default;
}

.form-group select {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 14px;
    line-height: 1.25;
    color: #333;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 2px;
    letter-spacing: 0.5px;
    font-family: 'Anonymous Pro', monospace;
}

label {
    display: inline-block;
    padding: 15px 25px;
    font-weight: 400;
    text-align: center;
    font-size: 14px;
    letter-spacing: 0.5px;
    margin-bottom: -1px;
    cursor: pointer;
}

input:checked + label {
    color: #333;
    border-top: 1px solid #e1e1e1;
    background: #f7f7f7;
    border-right: 1px solid #e1e1e1;
    border-left: 1px solid #e1e1e1;
    border-radius: 2px 2px 0 0;
}

.settings {
  display: block;
  background: #f7f7f7;
  border-radius: 2px;
  border: 1px solid #e1e1e1;
  width: 100%;
  padding: 20px 30px 0;
  clear: both;
  height: 300px;
  overflow: auto;
}

@media screen and (max-width: 1000px) {
    .settings label {
        width: 32%
    }
    .form-group label {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    label {
        width: 33.3333333333%;
        padding: 10px;
    }
    button[type="submit"] {
        margin: 0 10px 20px 0;
        width: 100%;
    }
    .description-title {
        display: none
    }
    .more-dev {
        display: none
    }
    .three-lines {
        margin: 7px 5px
    }
    .settings label {
        width: 48%
    }
    .form-group label {
        width: 100%;
    }
    .right {
        float: left !important;
    }
}

@media screen and (max-width: 500px) {
    .settings label {
        width: 100%
    }
    .env {
        display: none
    }
}

@media all and (max-width: 460px) {
    .sub-title {
        display: none
    }
}

@media all and (max-width: 360px) {
    .more-tools {
        display: none
    }
}
